<!DOCTYPE html>
<html>
  <head>
    <%- include('headerlinks') %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style_home.css">
    <link rel='stylesheet' href='/stylesheets/style_add_pass.css' />
    <script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
    <title><%= title %></title>
    
  </head>
  <body>
    <%- include('navbar') %>
    <h2 class="text-center"></h2>
    
    <form action="/addPassword" method="POST">
      
      <div class="card_signup">
        
            <h1 style="text-align: center;">Add Password</h1>
            
               <% if(msg !=''){ %>
                <p style="text-align: center;"> <%= msg %></p>
               <% } %>
            
            <div class="form-group">
                <label for="email">Category name:</label>
                <input type="" class="form-control" placeholder="Enter category name" name="category_name" id="" required>
                <!--<select class="form-control" name="category_name" required>
                    <option value="">choose category</option>
                    <option value="">gmail</option>
                    
                </select>-->
            </div>   
            
            <div class="form-group">    
                <label for="pwd">Password Details:</label>
                <textarea class="form-control" id="editor" name="pass_details" rows="5" placeholder="enter your details" required></textarea>
            </div>
      
            <button type="submit" class="btn btn-primary">Add</button>
            
             

        </div>
    
    </form>

    <script>CKEDITOR.replace('editor');</script>
  </body>
</html>