<!DOCTYPE html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2 class="text-center"><%= title %></h2>
    <form action="/" method="POST">
      <div class="card">
        <h1 style="text-align: center;">Login</h1>
        <% if(msg !=''){ %>
          <p style="text-align: center;"> <%= msg %></p>
         <% } %>
        <div class="form-group">
          <label for="username">User Name:</label>
          <input type="text" class="form-control" placeholder="Enter User Name" id="uname" name="username">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" placeholder="Enter password" id="pwd" name="password">
        </div>
      
        <button type="submit" class="btn btn-primary">Login</button>
        <p>Don't Have an Account? <a href="/signup">Create an Account</a></p>
      </div>
    
    </form>
  </body>
</html>
