<!DOCTYPE html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style_signup.css' />
  </head>
  <body>
    <h2 class="text-center"><%= title %></h2>
    <form action="">
      <div class="card_signup">
            <h1 style="text-align: center;">Signup</h1>
            <div class="form-group">
                <label for="username">User Name:</label>
                <input type="text" class="form-control" placeholder="Enter User Name" id="email">
            </div>   
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" placeholder="Enter email" id="email">
            </div>   
            <div class="form-group"> 
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" placeholder="Enter password" id="pwd">
            </div>
            <div class="form-group">    
                <label for="pwd">Confirm Password:</label>
                <input type="password" class="form-control" placeholder="Enter password again" id="pwd">
            </div>
      
            <button type="submit" class="btn btn-primary">Create Account</button>
            <p>Already Have an Account. <a href="/">Login</a></p>
             

        </div>
    
    </form>
  </body>
</html>
